<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="vendor/codeigniter4/framework/system/Test/bootstrap.php"
    backupGlobals="false"
    beStrictAboutOutputDuringTests="true"
    colors="true"
    columns="max"
    failOnRisky="true"
    failOnWarning="true"
    cacheDirectory="build/.phpunit.cache">
    <coverage
        includeUncoveredFiles="true"
        pathCoverage="false"
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="true">
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/coverage/html" highLowerBound="80"/>
            <text outputFile="build/coverage/coverage.txt"/>
        </report>
    </coverage>
	<extensions>
        <bootstrap class="Nexus\PHPUnit\Tachycardia\TachycardiaExtension">
            <parameter name="time-limit" value="0.50" />
            <parameter name="report-count" value="30" />
        </bootstrap>
    </extensions>
    <testsuites>
        <testsuite name="Twig">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
	<source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./src/Debug</directory>
        </exclude>
    </source>
    <logging>
		<testdoxHtml outputFile="build/logs/testdox.html"/>
		<testdoxText outputFile="build/logs/testdox.txt"/>
		<junit outputFile="build/logs/logfile.xml"/>
	</logging>

    <php>
        <server name="app.baseURL" value="http://localhost/"/>

        <!-- Directory containing phpunit.xml -->
        <const name="HOMEPATH" value="./"/>

        <!-- Directory containing the Paths config file -->
        <const name="CONFIGPATH" value="./vendor/codeigniter4/framework/app/Config/"/>

        <!-- Directory containing the front controller (index.php) -->
        <const name="PUBLICPATH" value="./vendor/codeigniter4/framework/public/"/>
    </php>
</phpunit>